<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>age</key>
		<string>0 - 1 Months</string>
		<key>videos</key>
		<array>
			<string>Bobble Head</string>
			<string>Baby on Board</string>
		</array>
	</dict>
	<dict>
		<key>age</key>
		<string>2 - 3 Months</string>
		<key>videos</key>
		<array>
			<string>Tooshy Down Tummy Time</string>
			<string>Over-Leg Tummy Time</string>
			<string>Assisted Tummy Time</string>
			<string>Baby &quot;sit-ups&quot;</string>
			<string>Baby on Board</string>
			<string>Supported Side-Lying</string>
		</array>
	</dict>
</array>
</plist>
